.text-fields {
    width: 20rem;
    margin-top: 0.4rem;
}

.centered {
    display: grid;
    align-items: center;
    justify-content: center;
}

.labels {
    display: grid;
    align-content: flex-end;
    justify-content: center;
    margin: 1rem;
}

.background {
    background-color: #d9d9d9;
}

.login-button {
    background-color: #3c677e;
    border-color: #3c677e;
    color: whitesmoke;
    margin-bottom: 1rem;
}